In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('C:\\Users\\HP\Desktop\\MLWPR\\NFA 2019 public_data.csv')

C:\Users\HP\miniconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.head()

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
0,Armenia,1992,1,AreaPerCap,0.140292,0.199546,0.097188051,0.036888,0.029320,0.000000,5.032351e-01,3A
1,Armenia,1992,1,AreaTotHA,483000.000000,687000.000000,334600,127000.000000,100943.000800,0.000000,1.732543e+06,3A
2,Armenia,1992,1,BiocapPerCap,0.159804,0.135261,0.084003213,0.013742,0.033398,0.000000,4.262086e-01,3A
3,Armenia,1992,1,BiocapTotGHA,550176.242700,465677.972200,289207.1078,47311.551720,114982.279300,0.000000,1.467355e+06,3A
4,Armenia,1992,1,EFConsPerCap,0.387510,0.189462,1.26E-06,0.004165,0.033398,1.114093,1.728629e+00,3A

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72186 entries, 0 to 72185
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         72186 non-null  object
 1   year            72186 non-null  int64
 2   country_code    72186 non-null  int64
 3   record          72186 non-null  object
 4   crop_land       51714 non-null  float64
 5   grazing_land    51714 non-null  float64
 6   forest_land     51714 non-null  object
 7   fishing_ground  51713 non-null  float64
 8   built_up_land   51713 non-null  float64
 9   carbon          51713 non-null  float64
 10  total           72177 non-null  float64
 11  QScore          72185 non-null  object
dtypes: float64(6), int64(2), object(4)
memory usage: 6.6+ MB

In [7]:
df.isna().sum()

country               0
year                  0
country_code          0
record                0
crop_land         20472
grazing_land      20472
forest_land       20472
fishing_ground    20473
built_up_land     20473
carbon            20473
total                 9
QScore                1
dtype: int64

In [8]:
df['QScore'].value_counts()

3A    51481
2A    10576
2B    10096
1A       16
1B       16
Name: QScore, dtype: int64

In [9]:
df = df.dropna()

In [10]:
df.isna().sum()

country           0
year              0
country_code      0
record            0
crop_land         0
grazing_land      0
forest_land       0
fishing_ground    0
built_up_land     0
carbon            0
total             0
QScore            0
dtype: int64

In [11]:
df['QScore'].value_counts()

3A    51473
2A      224
1A       16
Name: QScore, dtype: int64

In [12]:
df['QScore'] = df['QScore'].replace('1A','2A')

In [13]:
df['QScore'].value_counts()

3A    51473
2A      240
Name: QScore, dtype: int64

In [14]:
df_2A = df[df['QScore']=='2A']
df_3A = df[df['QScore']=='3A'].sample(350)

In [15]:
df_2A.head()
df_3A.head()

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
48010,Paraguay,1969,169,AreaPerCap,3.800926e-01,4.310756,13.44019086,0.391698,0.037339,0.000000e+00,1.856008e+01,3A
8857,Burundi,1991,29,AreaTotHA,1.290000e+06,820000.000000,279900,215000.000000,135938.003500,0.000000e+00,2.740838e+06,3A
56017,Slovakia,2007,199,EFProdTotGHA,3.889396e+06,294895.864500,5708342.591,8139.975097,500275.936800,1.433855e+07,2.473960e+07,3A
53230,Rwanda,2007,184,EFConsPerCap,3.039531e-01,0.066138,0.245447642,0.003355,0.034060,4.896912e-02,7.019231e-01,3A
32132,Japan,1968,110,EFConsPerCap,4.802536e-01,0.234260,0.618076502,0.578637,0.094147,2.381370e+00,4.386744e+00,3A

In [16]:
data_df = df_2A.append(df_3A)

In [17]:
import sklearn.utils
data_df = sklearn.utils.shuffle(data_df)

In [18]:
data_df = data_df.reset_index(drop=True)

In [19]:
data_df.head()

,country,year,country_code,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,QScore
0,Jamaica,2016,109,EFConsPerCap,4.078002e-01,7.336992e-02,0.164695965,8.405142e-02,4.724134e-02,8.351687e-01,1.612328e+00,2A
1,Equatorial Guinea,2016,61,EFConsTotGHA,2.582201e+05,3.273894e+04,202042.0339,1.099109e+05,2.745631e+04,1.661044e+06,2.291412e+06,2A
2,"Tanzania, United Republic of",1976,215,AreaTotHA,8.000000e+06,2.100000e+07,55905069.86,7.842900e+06,6.567780e+05,0.000000e+00,9.340475e+07,3A
3,France,2010,68,EFConsTotGHA,5.754302e+07,1.824314e+07,37704641.94,1.122042e+07,1.054043e+07,1.957169e+08,3.309686e+08,3A
4,Jamaica,2016,109,BiocapPerCap,1.614750e-01,0.000000e+00,0.09792247,1.108245e-01,4.724134e-02,0.000000e+00,4.174633e-01,2A

In [20]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590 entries, 0 to 589
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         590 non-null    object
 1   year            590 non-null    int64
 2   country_code    590 non-null    int64
 3   record          590 non-null    object
 4   crop_land       590 non-null    float64
 5   grazing_land    590 non-null    float64
 6   forest_land     590 non-null    object
 7   fishing_ground  590 non-null    float64
 8   built_up_land   590 non-null    float64
 9   carbon          590 non-null    float64
 10  total           590 non-null    float64
 11  QScore          590 non-null    object
dtypes: float64(6), int64(2), object(4)
memory usage: 55.4+ KB

In [21]:
data_df = data_df.drop(columns=['country','year','country_code'])
X = data_df.drop(columns=['QScore'])
y = data_df['QScore']

In [22]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [23]:
x_train

,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total
285,EFProdPerCap,5.819801e-01,9.995808e-02,0.433292,0.000000e+00,1.243425e-01,9.161415e+00,1.040099e+01
113,EFConsPerCap,6.837524e-01,3.127423e-01,0.106984472,2.761895e-02,3.590727e-02,2.042943e+00,3.209949e+00
18,EFConsTotGHA,3.570610e+06,7.822778e+06,3144882.265,1.296057e+05,4.294141e+05,2.754635e+05,1.537275e+07
76,AreaTotHA,4.610000e+05,3.925000e+07,221000,2.834100e+06,2.063710e+05,0.000000e+00,4.297247e+07
206,EFProdTotGHA,7.517044e+06,2.431725e+06,8188975.279,4.433817e+05,1.496289e+06,5.937151e+06,2.601457e+07
...,...,...,...,...,...,...,...,...
277,EFProdTotGHA,6.858214e+06,1.099872e+07,7254402.512,5.725513e+05,5.669304e+05,6.176836e+05,2.686850e+07
9,BiocapTotGHA,2.471947e+06,1.123999e+06,52212.49999,9.567091e+04,8.251206e+05,0.000000e+00,4.568950e+06
359,AreaPerCap,1.935255e-01,1.269019e+00,0.024613997,0.000000e+00,2.622149e-02,0.000000e+00,1.513380e+00
192,BiocapPerCap,3.395530e-01,3.453943e-03,0.022615829,2.986942e-02,4.626122e-02,0.000000e+00,4.417534e-01
559,EFProdPerCap,2.183892e-01,3.127019e-01,0.276895057,7.124843e-02,3.510933e-02,7.871094e-02,9.930549e-01

In [24]:
y_train

285    3A
113    3A
18     3A
76     2A
206    2A
       ..
277    3A
9      2A
359    3A
192    3A
559    3A
Name: QScore, Length: 413, dtype: object

In [25]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

x_train.record = encoder.fit_transform(x_train.record)
x_test.record = encoder.transform(x_test.record)

C:\Users\HP\miniconda3\envs\myenv\lib\site-packages\pandas\core\generic.py:5159: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [26]:
y_train.value_counts()

3A    250
2A    163
Name: QScore, dtype: int64

In [27]:
x_train.head()

,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total
285,6,5.819801e-01,9.995808e-02,0.433292,0.000000e+00,1.243425e-01,9.161415e+00,1.040099e+01
113,4,6.837524e-01,3.127423e-01,0.106984472,2.761895e-02,3.590727e-02,2.042943e+00,3.209949e+00
18,5,3.570610e+06,7.822778e+06,3144882.265,1.296057e+05,4.294141e+05,2.754635e+05,1.537275e+07
76,1,4.610000e+05,3.925000e+07,221000,2.834100e+06,2.063710e+05,0.000000e+00,4.297247e+07
206,7,7.517044e+06,2.431725e+06,8188975.279,4.433817e+05,1.496289e+06,5.937151e+06,2.601457e+07

In [28]:
import imblearn
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state= 1 )
x_train_balanced, y_balanced = smote.fit_sample(x_train, y_train)

In [30]:
x_train_balanced

,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total
0,6,5.819801e-01,9.995808e-02,0.433292,0.000000e+00,1.243425e-01,9.161415e+00,1.040099e+01
1,4,6.837524e-01,3.127423e-01,0.106984,2.761895e-02,3.590727e-02,2.042943e+00,3.209949e+00
2,5,3.570610e+06,7.822778e+06,3.14488e+06,1.296057e+05,4.294141e+05,2.754635e+05,1.537275e+07
3,1,4.610000e+05,3.925000e+07,221000,2.834100e+06,2.063710e+05,0.000000e+00,4.297247e+07
4,7,7.517044e+06,2.431725e+06,8.18898e+06,4.433817e+05,1.496289e+06,5.937151e+06,2.601457e+07
...,...,...,...,...,...,...,...,...
495,4,4.242724e+06,3.128524e+06,2.68398e+06,3.652057e+06,4.776671e+05,2.770692e+06,1.695565e+07
496,4,3.992020e-01,2.169325e-01,0.107213,1.994084e-02,5.890437e-02,1.120525e+00,1.922718e+00
497,4,6.913318e+06,2.301170e+06,4.35497e+06,1.406629e+06,6.338427e+05,3.398670e+06,1.900860e+07
498,1,1.989581e+06,4.644513e+06,3.95817e+06,8.849952e+06,2.925207e+05,0.000000e+00,1.973473e+07
499,6,1.518968e-01,7.291699e-02,0.351698,2.632331e-02,2.634599e-02,1.244401e+00,1.873581e+00

In [31]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
#normalized_x_train = scaler.fit_transform(x_train.drop(columns=['record']))
#normalized_x_train = pd.DataFrame(normalized_x_train, columns= x_train.drop(columns=['record']).columns)
#normalized_x_train['record'] = x_train['record']

normalised_train_df = scaler.fit_transform(x_train_balanced.drop(columns=[ 'record' ]))
normalised_train_df = pd.DataFrame(normalised_train_df,
columns=x_train_balanced.drop(columns=[ 'record' ]).columns)
normalised_train_df[ 'record' ] = x_train_balanced[ 'record' ]

In [33]:
normalised_train_df.head()

,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,record
0,1.910806e-10,6.396385e-11,8.072573e-11,0.000000e+00,4.221841e-10,4.451053e-09,9.011928e-10,6
1,2.248998e-10,2.001259e-10,1.993207e-11,2.525224e-11,1.205732e-10,9.925594e-10,2.663019e-10,4
2,1.186525e-03,5.005848e-03,5.859169e-04,1.184996e-04,1.464529e-03,1.338333e-04,1.357248e-03,5
3,1.531917e-04,2.511634e-02,4.117408e-05,2.591241e-03,7.038343e-04,0.000000e+00,3.794004e-03,1
4,2.497937e-03,1.556077e-03,1.525672e-03,4.053875e-04,5.103136e-03,2.884552e-03,2.296805e-03,7

In [75]:
normalised_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   record          413 non-null    int64
 1   crop_land       413 non-null    float64
 2   grazing_land    413 non-null    float64
 3   forest_land     413 non-null    float64
 4   fishing_ground  413 non-null    float64
 5   built_up_land   413 non-null    float64
 6   carbon          413 non-null    float64
 7   total           413 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 25.9 KB

In [34]:
x_test = x_test.reset_index(drop= True )
normalised_test_df = scaler.transform(x_test.drop(columns=[ 'record' ]))
normalised_test_df = pd.DataFrame(normalised_test_df,
columns=x_test.drop(columns=[ 'record' ]).columns)
normalised_test_df[ 'record' ] = x_test[ 'record' ]

In [35]:
normalised_test_df.head()

,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,record
0,9.172690e-11,8.234213e-11,7.338025e-13,1.827702e-13,3.202757e-10,1.040248e-10,4.685344e-11,6
1,1.635079e-10,3.085079e-11,6.338375e-11,1.392407e-11,1.101746e-10,5.470404e-11,7.543487e-11,6
2,1.389901e-10,7.035829e-10,2.000299e-09,4.363624e-10,1.553924e-10,0.000000e+00,1.111642e-09,0
3,1.945968e-11,4.932641e-12,4.523818e-12,1.434234e-10,7.520674e-11,0.000000e+00,7.352698e-12,0
4,3.581114e-04,2.119453e-04,6.702075e-05,6.398109e-07,1.810579e-04,1.411198e-03,4.173434e-04,7

In [36]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()
log_reg.fit(normalised_train_df, y_balanced)

LogisticRegression()

In [37]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(log_reg, normalised_train_df, y_balanced, cv= 5 , scoring= 'f1_macro' ) 
scores

array([0.51645241, 0.48123283, 0.42940139, 0.54448831, 0.47862357])

In [3]:
from xgboost import XGBClassifier
classifier = XGBClassifier()
classifier.fit(x_train, y_train)

NameError: name 'x_train' is not defined